<!-- tells htmx where to insert new data -->
<div id = "chat_messages" hx-swap-oob= "beforeend">

    {% if message.author == user %}
                   
                   
                    <li>
                        <div class="flex justify-start">
                           
                            <div class="flex items-end">
                                <svg height="13" width="8">
                                    <path fill="white" d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"></path>
                                </svg>
                            </div>
                            <div class="bg-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg shadow-md">
                                <span>{{message.body}}</span>
                            </div>
                        </div>
                        <div class="text-sm font-light py-1 ml-10">
                            <span>users messages</span>
                            <span class="text-white">{{message.author.profile.name}}</span>
                            <span class="text-gray-400">{{message.author.username}}</span>
                        </div>
                    </li>
               
                    {% else %}
    
                 
                   
                    <li>
                        <div class="flex justify-start">
                           
                            <div class="flex items-end">
                                <svg height="13" width="8">
                                    <path fill="white" d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"></path>
                                </svg>
                            </div>
                            <div class="bg-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg shadow-md">
                                <span>{{message.body}}</span>
                            </div>
                        </div>
                        <div class="text-sm font-light py-1 ml-10">
                            <span class="text-white">{{message.author.profile.name}}</span>
                            <span class="text-gray-400">{{message.author.username}}</span>
                        </div>
                    </li>
               
    
                 
                 
                {% endif %}
    
            </div>