<head>
    <!-- just a file to test chat -->
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
</head>

<body >
    <a class='button' href={% url 'private-chat' 'admin' %}> test chat with admin  </a>
    <a class='button' href={% url 'private-chat' 'jdnorton' %}> test chat with jdnorton  </a>

    <a class='button' href={% url 'find-or-create-comments' '1' %}> comment section 1 </a>
    


    {% comment %} <a class='button' href={% url 'rate-user' 'jdnorton' %}> test user rating  </a> {% endcomment %}
    <div class="block max-w-2xl mx-auto my-10 px-6">
        <div id="chat_window" class="h-[45rem] flex flex-col bg-gray-800 rounded-2xl shadow-xl relative p-6">
            {% if user2 %}
            <p>chat with {{user2.username}} started! </p>

           {%endif%}
            <div id="chat_container" class="overflow-y-auto grow">
                <ul id="chat_messages" class="flex flex-col gap-4 p-4">
                    {% for message in messages reversed %}
                    {% if message.author == user %}
                   
                    <li>
                        <div class="flex justify-start">
                            <div class="flex items-end">
                                <svg height="13" width="8">
                                    <path fill="white" d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"></path>
                                </svg>
                            </div>
                            <div class="bg-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg shadow-md">
                                <span>{{message.body}}</span>
                            </div>
                        </div>
                        <div class="text-sm font-light py-1 ml-10">
                            <span>users messages</span>
                            <span class="text-white">{{message.author.profile.name}}</span>
                            <span class="text-gray-400">{{message.author.username}}</span>
                        </div>
                    </li>
                    {% else %}
               
                    <li>
                        <div class="flex justify-start">
                            <div class="flex items-end">
                                <svg height="13" width="8">
                                    <path fill="white" d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"></path>
                                </svg>
                            </div>
                            <div class="bg-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg shadow-md">
                                <span>{{message.body}}</span>
                            </div>
                        </div>
                        <div class="text-sm font-light py-1 ml-10">
                            <span class="text-white">{{message.author.profile.name}}</span>
                            <span class="text-gray-400">{{message.author.username}}</span>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

           
            <div class="sticky bottom-0 z-10 p-2 bg-gray-800">
                <div class="flex items-center rounded-xl px-2 py-2">
                    <form id="chat_message_form"
               
                hx-ext="ws"
                ws-connect="/ws/chatroom/{{ group_name }}"
                ws-send="true"
                hx-on="htmx:afterRequest: alert('Done making a request!')" >
                {% csrf_token %}
                {{ form }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>